# Binäre Dateien
bin/
obj/

# Visual Studio-Dateien
.vs/
*.suo
*.user
*.sln.docstates

# Build-Dateien
_ReSharper*/
*.cache
*.dll
*.exe
*.pdb
*.log
*.userprefs
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_i.obj
*_p.obj
*.pidb
*.ipch
*.pgc
*.pgd
*.rsp
*.svclog
*.scc
*.bak
*.sqlite
*.sqlite3
*.sdf
*.opensdf

# NuGet-Pakete
packages/
*.nupkg
*.pdb
*.dll
*.exe

# Anwendungsspezifische Dateien
*.swp
*~
*.user
*.psess
*.ps1xml
*.xml
*.log
*.cache
*.resources
*.dbmdl
*.resx
*.pch
*.obj
*.exe
*.manifest
*.appcache
*.cache
*.log
*.vspscc
*.vsp
*.pidb
*.vspcc
*.ncb
*.suo
*.sdf
*.pyc
*.dll
*.lib
*.sbr
*.suo
*.pdb
*.idb
*.ipch
*.sdf
*.opensdf
*.docstates
